# ==========================================
# Archivos de Entorno y Credenciales (¡MUY IMPORTANTE!)
# ==========================================
.env
.atl/
# ==========================================
# Backend Python (Django / Entornos Virtuales)
# ==========================================
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# ==========================================
# Archivos del Sistema Operativo y Editores
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db